<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

   <link rel="stylesheet" href="/static/styles/search.css">
   <title>Search District</title>

</head>
<body>
   <div class="container">
      <div class="illustration_container">
         <div class="illustration_1">
            <h2 class="illustration_heading">Wear masks properly</h2>
            <img src="/static/images/illustration1.png" alt="">
         </div>
         <div class="illustration_2">
            <h2 class="illustration_heading">Maintain Social Distancing</h2>
            <img src="/static/images/illustration2.png" alt="">
         </div>
      </div>
      <form class="search_bar" method="POST">
         <!-- Wrap both input and submit button with a div, set to position: relative.
         Input field width: 100%.
         Button position: absolute, position: top right. Set width, height. Add background image. Set z-index to more than 1. -->

            <input type="text" class="search_input" placeholder="Enter your district" name="city">
         <button class="btn_search" type="submit">GO</button>
      </form>
      <div class="info_container">
         <div class="info_1">
            <h2>Symptons of COVID-19</h2>
            <p>The most common symptoms of COVID-19 are fever, tiredness, and
               dry cough. Some patients may have aches and pains, nasal
               congestion, runny nose, sore throat or diarrhea. These symptoms are
               usually mild and begin gradually. Some people become infected but
               don’t develop any symptoms and don't feel unwell. Most people
               (about 80%) recover from the disease without needing special
               treatment.</p>
         </div>
         <div class="info_2">
            <h2>How does COVID-19 spread</h2>
            <p>People can catch COVID-19 from others who have the virus. The
               disease can spread from person to person through small droplets from
               the nose or mouth which are spread when a person with COVID-19
               coughs or exhales. These droplets land on objects and surfaces
               around the person. Other people then catch COVID-19 by touching
               these objects or surfaces, then touching their eyes, nose or mouth.
               People can also catch COVID-19 if they breathe in droplets from a
               person with COVID-19 who coughs out or exhales droplets. This is
               why it is important to stay more than 1 meter (3 feet) away from a
               person who is sick.</p>
         </div>
         <a href="https://www.mohfw.gov.in/" class="read_more_link">Read more</a>
      </div>

   </div>


   
</body>
</html>